body {
    font-family: 'Open Sans', sans-serif;
}

body *{
    font-family: 'Open Sans', sans-serif;
}


nav,footer {
    background-color: #E83E8C;
}

.navbar-brand {
    width: 8.25rem;
    height: 4.3125rem;
}

h1 {
    color: #707070;
    font-size: 3.75rem;
    font-weight: 700;
}

.icons-section {
   
    height: 10.625rem;
}

i {
    font-size: 3.75rem;
}

h2 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 700;
}

footer {
    height: auto;

}

footer img {
    width: 3.3125rem;
    height: 6.25rem;
}